asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.1
cloudinary==1.44.1
Django==6.0.2
django-browser-reload==1.19.0
django-cloudinary-storage==0.3.0
django-mongodb-backend==5.2.0b0
django-tailwind==4.4.2
dnspython==2.8.0
gunicorn==25.1.0
idna==3.11
packaging==26.0
pillow==12.1.1
pymongo==4.16.0
pytailwindcss==0.3.0
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.12.0
